@inherits LayoutComponentBase

@using Flueris.Extensions
@using Flueris.Utilities

<div class="page">
    <header>
        <NavBar />
    </header>

    <div class="left-side">
        <Sidebar DataList="@sidebar_list" Variant="toggle" PositionSidebar="right" ColorScheme="light" />
    </div>

    <main class="v-scroll main">
        @Body
    </main>
</div>

@code {
    List<SidebarItem> sidebar_list => GetSidebarToggle();

    private List<SidebarItem> GetSidebarToggle()
    {
        List<SidebarItem> list = new()
        {
            new SidebarItem { Id = "1", Group = "0", Label = "Forms examples", Image = "icon-192.png"  },
            new SidebarItem { Id = "2", Group = "0", Label = "Feedback examples", Icon = "fa-solid fa-message"  },

            new SidebarItem { Id = "1.1", Group = "1", Label = "Inputs", URL = "input-examples" },
            new SidebarItem { Id = "1.2", Group = "1", Label = "Controlled inputs ", URL = "controlled-selection" },

            new SidebarItem { Id = "2.1", Group = "2", Label = "Dialog", URL = "dialog" },
            new SidebarItem { Id = "2.2", Group = "2", Label = "Toast", URL = "toast-examples" },
        };

        return list;
    }
}
