@inherits LayoutComponentBase

@using Flueris.Extensions
@using Flueris.Utilities

<div class="page">
    <header>
        <NavBar />
    </header>

    <div class="left-side">
        <Sidebar DataList="@sidebar_list" Variant="toggle" PositionSidebar="right" ColorScheme="light" />
    </div>

    <main class="main">
        @Body
    </main>
</div>

@code {
    List<SidebarItem> sidebar_list => GetSidebarToggle();

    private List<SidebarItem> GetSidebarToggle()
    {
        List<SidebarItem> list = new()
        {
            new SidebarItem { Id = "1", Group = "0", Label = "Blazor sample pages", Image = "icon-192.png"  },
            new SidebarItem { Id = "2", Group = "0", Label = "Dialog boxes", Icon = "fa-solid fa-message"  },

            new SidebarItem { Id = "1.1", Group = "1", Label = "Counter", URL = "counter", Icon="fas fa-calculator" },
            new SidebarItem { Id = "1.2", Group = "1", Label = "Weather ", URL = "weather", Icon="fas fa-thermometer-full" },

            new SidebarItem { Id = "2.1", Group = "2", Label = "Dialog", URL = "dialog", Icon="fas fa-list" },
        };

        return list;
    }
}
