@page "/counter"

@using Flueris.Components

<PageTitle>Counter</PageTitle>

<div>
    <Breadcrumb DataList="@breadcrumbs" />
</div>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<Button ColorScheme="primary" Label="Click me" OnClick="IncrementCount" />

@code {
    List<BreadcrumbItem> breadcrumbs = new()
    {
        new BreadcrumbItem() { Label = "Home", Icon = "fas fa-home", URL="/" },
        new BreadcrumbItem() { Label = "Counter" },
    };

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
