@page "/counter"

@using Flueris.Components

<p>This component demonstrates use of the default Button and Breadcrumb components</p>

<PageTitle>Counter</PageTitle>

<Breadcrumb DataList="@breadcrumbs" />

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<Button ColorScheme="primary" Label="Click me" OnClick="IncrementCount" />

@code {
    List<BreadcrumbItem> breadcrumbs = new()
    {
        new BreadcrumbItem() { Label = "Home", Icon = "fas fa-home", URL="/" },
        new BreadcrumbItem() { Label = "Counter" },
    };

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
