@page "/"

<PageTitle>Home</PageTitle>

@using Flueris.Components

<div style="width:50%">
    <p>Welcome to your new Flueris Components. At this stage the starter kit demonstrates how to use various Flueris Components. </p>
    <p>Since we use Bootstrap as the underlying css framework, you will notice use of its class wherever possible. </p>
</div>


@code {
    private int value;
}