@page "/"

<PageTitle>Home</PageTitle>

@using Flueris.Components

<div style="width:60%">
    <p>Welcome to your new Flueris Components. At this stage the starter kit demonstrates how to use the Sidebar, Button, Dropdown, Tooltip and Avatar. </p>

    <p>LayoutA demonstrates use of the compact variant of the Sidebar. LayoutB demonstrates use of the multiple level Sidebar. Make changes in App.razor to see them in action. Currently set to LayoutB</p>
</div>


@code {
    private int value;
}