@page "/"

<PageTitle>Home</PageTitle>

@using Flueris.Components

<div style="width:60%">
    <p>Welcome to your new Flueris Components. At this stage the starter kit demonstrates how to use the Sidebar, Breadcrumb, Table, Badge, Button, Select, Tooltip, Message, Menu, Toast and Avatar. </p>
</div>


@code {
    private int value;
}