@page "/input-examples"

@using Flueris.Components


<h3>Input Examples</h3>

<div class="w-50 mb-5">
    <Input InputMode="text" Label="Text field 1" RequiredIndicator=true @bind-Value=@person.Text1 MaxLength="20" />
    <Spacer />

    <Input InputMode="text" Label="Restricts user from entering #$%" SuppressCharacters="#$%" CommaDelimited="true" @bind-Value="person.Text2" />
    <Spacer />

    <Input InputMode="numeric" Label="With suffix" CommaDelimited="true" Suffix=" $" @bind-Value="person.Amount" />
    <Spacer />

    <Input InputMode="numeric" Label="Integer input only" Placeholder="Only integer values allowed" @bind-Value="person.Value" />
    <Spacer />

    <Input InputMode="numeric" TProperty="decimal" Label="Decimal amounts with comma delimited display" DecimalPlaces="3" CommaDelimited="true" />
    <Spacer />

    <Date InputMode="date" Size="sm" Label="Date Field" TProperty="DateTime" />
    <Spacer />

    <TextArea InputMode="text" Label="Text Area" MaxLength="500" />
    <Spacer />

    <h4>Input Tags Component</h4>
    <p>Input tags are like multiselect, but there is no predefined list to select from. Useful when you wish to allow users to define their tags</p>
    <span>Enter 'abc' and press space</span>
    <InputTags MaxEntries="3" />
</div>

@code {
    private Person person = new();
    public class Person
    {
        public string? Text1 { get; set; }
        public string? Text2 { get; set; }
        public byte Type1 { get; set; }
        public int Value { get; set; }
        public decimal Amount { get; set; }
        public decimal Amount1 { get; set; }
    }

}
