@page "/message"

@using Flueris.Components
@inject MessageService Service

<span>Directly use message component in a page.</span>
<Block>
    <Button Class="mb-3" Label="Click to show Message" ColorScheme="primary" OnClick="ButtonClick" Bordered="true" />
    <Message @ref=@msg ColorScheme="primary" Title="Hello World">
        @((MarkupString)msg1)
    </Message>
</Block>

<span>Using Message Service. To implement Message service: </span>
<ul>
    <li>In program.cs add AddScoped MessageService</li>
    <li>In MainLayout add Flueris.Components.MessageComponent </li>
    <li>In page, inject Message service. Then call Service.ShowMessage(options)</li>
</ul>

<Block>
    <Button Label="click me" ColorScheme="primary" OnClick="MessageServiceClick" />
</Block>
@code {
    private Message? msg;

    private string msg1 = "Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit.</strong>";

    private void ButtonClick()
    {
        msg.Show();
    }

    private void MessageServiceClick()
    {
        Service.ShowMessage(new MessageOptions()
        {
            ColorScheme = "primary",
            Message = msg1,
            Title = "Message Service"
        });
    }
}
