@using Flueris.Components

<main class="form-signin">
    <form>
        <div class="login-label">
            <h3>Sign in</h3>
        </div>

        <Block>
            <Input InputMode="text" Placeholder="Email Address" @bind-Value="@user_name" />
        </Block>

        <Block>
            <Input InputMode="password" Placeholder="Password" @bind-Value="@password" />
        </Block>

        <Block>
            <Checkbox>Remember Me</Checkbox>
        </Block>

        <div class="btn-q7vsv">
            <Button class="w-100" ColorScheme="primary" Label="Sign In" Size="md"  />
        </div>
    </form>
</main>

@code {
    private string? user_name;
    private string? password;
}