@page "/toast-examples"

<h3>Toast Examples</h3>

@using Flueris.Components
@using Flueris.Validations

<p>The Toast component is quite flexible to show content. Here are a couple of ways content can be rendered.</p>

<Button Class="mb-3" Label="Click to show toast" ColorScheme="primary" OnClick="ButtonClickA" Bordered="true" />
<Toast @ref="@ta" ColorScheme="primary" Icon="fas fa-info">
    <div class="d-flex gap-4 text-bg-primary p-3">
        <span><i class="fa-solid fa-circle-check fa-lg"></i></span>
        <div class="d-flex flex-grow-1 align-items-center justify-content-between">
            <span class="fw-semibold">Lorem ipsum dolor sit amet.</span>
            <CloseButton Class="btn-close btn-close-white ms-auto" />
        </div>
    </div>
</Toast>

<Spacer />

<Button Class="mb-3" Label="Click to show toast with callout" ColorScheme="info" OnClick="ButtonClickB" Bordered="true" />
<Toast @ref="@tb" ColorScheme="info" Icon="fas fa-info" Callout=true Title="Error" />

@code {
    private Toast? ta;
    private Toast? tb;

    private string msg = "<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>";

    private void ButtonClickA()
    {
        ta.Show();
    }

    private void ButtonClickB()
    {
        tb.Show("Lorem ipsum dolor sit amet, consectetur adipiscing elit.");
    }
}
